<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap">
    <link rel="stylesheet" href="static/urgence.css">
    <title>Images à gauche, Texte à droite</title>
    <script src="script.js"></script>
</head>
<body>
    <div class="merci">
        <div class="meds">
            <div class="meeeds">
                <h1>Trouvez la plus proche pharmarcie pour rendre les medicaments</h1>
                    <p>Deposez vos medicaments perimés vers la plus proche pharmacie, demandez un recu et scannez le pour collecter vos points mercis.</p>
                    <h3>Soyons plus eco-responsables ensemble !</h3>
            </div>
            <div class="map">
                <iframe
                    width="600"
                    height="450"
                    frameborder="0"
                    style="border:0"
                    src="https://www.google.com/maps/d/embed?mid=1Ttkcx5GBOV-joEvAYLhLPVu5NQ8&hl=en_US&ehbc=2E312F" width="640" height="480"
                    allowfullscreen>   
                </iframe>
            </div>
        </div>
        <div class="butmerci">
            <button id="mercis">Scannez votre recu et recoltez les points mercis</button>
        </div>

    </div>
</body>