<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap">
    <link rel="stylesheet" href="static/urgence.css">
    <title>Images à gauche, Texte à droite</title>
    <script src="script.js"></script>
</head>
<body>
    <div class="tout">
        <h1 id="Urg">Cas d'urgence</h1>
        <h1>Selectionnez vos symptomes</h1>
        <div class="symp">
            <div class="symps">
                <button class="buttonsymp">Chaleur Excessive</button>
                <button class="buttonsymp">Maux de tete</button>
                <button class="buttonsymp">Brulure</button>
            </div>
            <div class="symps">
                <button class="buttonsymp">Bebe en urgence</button>
                <button class="buttonsymp">Femme enceinte</button>
                <button class="buttonsymp">Accouchement</button>
            </div>
            <div class="symps">
                <button class="buttonsymp">Blessure</button>
                <button class="buttonsymp">Accident</button>
                <button class="buttonsymp">Probleme oeuil</button>
            </div>
            <div class="symps">
                <button id="Soumettre">Soumettre</button>
            </div>
        </div>
        
    </div>




</body>